
!/files/benchmarking_data/real_articles_benchmarked.json
!/files/benchmarking_data/synthetic_articles_benchmarked.json
!/poster/P16_Poster_DataEngineeringCourse_CompanyDataInKG.pptx
!/config.ini
!/files/wikidata_cache/wikidata.json
